<h3>Internationalization (i18n)</h3>
<p>
    The process of changing your software so that it isn't hardwired to one language/locale/culture.
</p>

<h3>Localization (l10n)</h3>
<p>
    The process of adding the appropriate resources to your software so that a particular language/locale is supported.
</p>

<h3>Return on Investment</h3>
<p>
    Internationalization, step 1, is a one-time cost (more or less), and so the more languages you localize to, the higher your ROI.
</p>

<h3>Following along</h3>
<ul>
    <li>
        <a href="https://app.pluralsight.com/library/courses/angular-internationalization/table-of-contents" target="_blank">Pluralsight</a>
    </li>
    <li>
        <a href="https://github.com/alisaduncan/angular-i18n" target="_blank">Teachers Github repo</a>
    </li>
</ul>

<h3>Notes</h3>
<ol>
    <li>Run: ng add &#64;angular/localize , to get started.</li>
    <li>Also need to make configuration in angular.json. See commit.</li>
    <li>Run: ng extract-i18n , this will create a messages file for the sourceLocale</li>
    <ul>
        <li>XML is default</li>
        <li>Can use flag for json</li>
        <li>ng extract-i18n --format json</li>
    </ul>
    <li>Duplicate the file, and rename it to match the locale</li>
    <ul>
        <li>Need to run the command above after marking up for translation</li>
        <li>And then manually do the translation in the non source locale json file (in this case messages.ja.json)</li>
    </ul>
    <li>Make a serve config in angular.json. See commit.</li>
    <li>ng serve --configuration ja</li>
</ol>
<p>
    Translation is done at build time. So can't really translate text from a backend api(?).
</p>

<h3>Let's do some testing</h3>
<p i18n data-test="Translate me too" i18n-data-test>
    Translate me
</p>