<h3>Internationalization (i18n)</h3>
<p>
    The process of changing your software so that it isn't hardwired to one language/locale/culture.
</p>

<h3>Localization (l10n)</h3>
<p>
    The process of adding the appropriate resources to your software so that a particular language/locale is supported.
</p>

<h3>Return on Investment</h3>
<p>
    Internationalization, step 1, is a one-time cost (more or less), and so the more languages you localize to, the higher your ROI.
</p>

<h3>Following along</h3>
<ul>
    <li>
        <a href="https://app.pluralsight.com/library/courses/angular-internationalization/table-of-contents" target="_blank">Pluralsight</a>
    </li>
    <li>
        <a href="https://github.com/alisaduncan/angular-i18n" target="_blank">Teachers Github repo</a>
    </li>
</ul>