<div class="jumbotron">
    <div [ngClass]="{ 'd-none': componentName !== 'HomeComponent' }">
        <h1 class="d-none d-sm-block display-4">Internationalization in Angular</h1>
        <h1 class="d-sm-none">International&shy;ization in Angular</h1>
        <p class="lead">
            Also going to orient myself in the new standalone component structure (no modules)
        </p>
        <hr class="my-4">
    </div>
    <ul class="list-inline mb-0">
        <li class="list-inline-item mr-3">
            <i data-feather="home" class="text-primary mr-1" appMoveUpOrDown></i>
            <a [routerLink]="['home']">Home</a>
        </li>
        <li class="list-inline-item mr-3">
            <i data-feather="activity" class="text-primary mr-1" appMoveUpOrDown></i>
            <a [routerLink]="['another-route']">Another Route</a>
        </li>
        <li class="list-inline-item mr-3">
            <i data-feather="radio" class="text-primary mr-1" appMoveUpOrDown></i>
            <a [routerLink]="['signal-inputs']">Signal Inputs</a>
        </li>
        <li class="list-inline-item">
            Something 3
        </li>
    </ul>
</div>