<div class="jumbotron">
    <div class="app-jumbo-top-block" [ngClass]="{ 'app-jumbo-top-block-collapse': componentName !== 'HomeComponent' }">
        <h1 class="d-none d-sm-block display-4">Internationalization in Angular</h1>
        <h1 class="d-sm-none">International&shy;ization in Angular</h1>
        <p class="lead">
            Also going to orient myself in the new standalone component structure (no modules)
        </p>
        <hr class="my-4">
    </div>
    <ul class="list-inline mb-0">
        <!-- New way of looping, dont need to import ngFor -->
        @for (v of jumboLinks; track v.label; let isLast = $last) {
            <app-jumbotron-link [jumboLink]="v" [isLast]="isLast" role=presentation />
        }
    </ul>
</div>