<h2 class="mb-4">Signal Inputs</h2>

<div> 
    <h3>Let's do some repititon first</h3>
    <div class="mb-2">
        <button type="button" class="btn btn-primary" (click)="onParentButtonClick()">Button in Parent</button>
    </div>
    <app-signal-inputs-child (childButtonClicked)="onChildButtonClick()" (childButtonClickedSignal)="onChildButtonClick()" 
        [parentButtonClicked]="isParentButtonClicked" [parentButtonClickedSignal]="isParentButtonClicked" />
    <!-- 1) Communication down to child via input --> <!-- 1) Signal: Communication down to child via input -->
</div>